#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 2%;
    font-size: 40px;
}

#generateButton {
    margin-top: 3%;
}

#fileTypeSelectButton {
    margin-top: 4%;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

#sizeInput {
    margin-right: 2%;
}

#sizeUnitSelect {
    width: 10rem;
}

h1 {
    font-family: 'Mynerve';
}