<div id="content">
    <span id="title"> generate custom size file </span>

    <div id="fileTypeSelectButton" class="card flex justify-center">
        <p-selectbutton 
            [options]="fileTypeOptions" 
            [(ngModel)]="selectedFileType" 
            optionLabel="label" 
            optionValue="value" 
            aria-labelledby="basic" 
            (onChange)="onFileTypeChange($event)" 
            />
    </div>

    <div id="inputDiv">

        <p-floatlabel id="sizeInput" variant="on">
            <p-inputnumber id="sizeInput" inputId="integeronly" [(ngModel)]="selectedSize" />
            <label for="on_label">Size</label>
        </p-floatlabel>

        <p-floatlabel id="unitInput" variant="on">
            <p-select id="sizeUnitSelect" [(ngModel)]="selectedSizeUnit" inputId="on_label" [options]="sizeUnits" optionLabel="name" />
            <label for="on_label">Unit</label>
        </p-floatlabel>
    </div>

    <p-button id="generateButton" (onClick)="generateByType()" label="generate!" />
    
</div>