<div id="content">
  <span id="title">Generate Custom Size File</span>

  <div id="fileTypeSelectButton" class="card">
      <p-selectbutton 
          [options]="fileTypeOptions" 
          [(ngModel)]="selectedFileType" 
          optionLabel="label" 
          optionValue="value" 
          aria-labelledby="basic" 
          (onChange)="onFileTypeChange($event)" 
          />
  </div>

  <div id="inputDiv">
      <p-floatlabel id="sizeInput" variant="on">
          <p-inputnumber id="sizeInput" inputId="integeronly" [(ngModel)]="inputSize" />
          <label for="on_label">Size</label>
      </p-floatlabel>

      <p-floatlabel id="unitInput" variant="on">
          <p-select 
            id="sizeUnitSelect" 
            [(ngModel)]="selectedSizeUnit" 
            inputId="on_label" 
            [options]="sizeUnits" 
            optionLabel="name" 
            (onChange)="onSizeUnitChange($event)" 
            />
          <label for="on_label">Unit</label>
      </p-floatlabel>
  </div>

  <div *ngIf="showMinimalValidSizeErrorMessage">
    <span class="validationMessage">
        The input is too small - minimal acceptable sizes are:
    </span>
    <br>
    <span class="validationMessage">
        - txt: 1 B
    </span>
        <br>
    <span class="validationMessage">
        - docx: 8000 B
    </span>
        <br>
    <span class="validationMessage">
        - pdf: 446 B
    </span>
  </div>

  <div *ngIf="showMaximumValidSizeErrorMessage">
     <span class="validationMessage">
        The input is too large - maximum acceptable size is 1 000 000 bytes for either of types.
     </span>
  </div>

  <div id="generateButton">
      <p-button (onClick)="generateByType()" label="generate!" />
  </div>
  
  <div class="file-type-description">
      <ng-container *ngIf="selectedFileType === 'txt'">
          Plain text file - simple and portable
      </ng-container>
      <ng-container *ngIf="selectedFileType === 'docx'">
          Microsoft Word document - rich text formatting
      </ng-container>
      <ng-container *ngIf="selectedFileType === 'pdf'">
          PDF document - platform-independent
      </ng-container>
  </div>
</div>